*{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    position:fixed;
    background-image: url("../img/BCG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0, 0;
}

section{
    margin-top:80px;
    background-color: #3FA57A;
}

.banner{
    background: #3FA57A;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    width:100%;
    height:550px;
}

body{
    font-family: montserrat;
    background-color: #3FA57A;
    color:white;
}

nav{
    background-color: #3FA57A;
    margin-top:-80px;
    height:80px;
    width:100%;
}

label.logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right:20px;
}

nav ul li{
    display:inline-block;
    line-height: 80px;
    margin:0 5px;
}

nav ul li a{
    font-size:17px;
    padding: 7px 13px;
    border-radius:3px;
    text-transform: uppercase;
}

nav ul li a{
    color:#3FA57A;
    font-size:17px;
    padding: 7px 13px;
    border-radius:3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background:#1b9bff;
    color: black;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}

#check{
    display:none;
}

.globalParagrath{
    font-size:20px;
}

.htmlImg{
    width:145px;
    height:150px;
    margin-right:54px;
}

.cssImg{
    width:105px;
    height:150px;
}

.jsImg{
    width:105px;
    height:150px;
    margin-left:70px;
}

.websitesImgs{
    padding: 50px;
}

.nodeImg{
    width:145px;
    height:150px;
    margin-right:35px;
}

.mySqlImg{
    width:175px;
    height:150px;
}

.mongoImg{
    width:165px;
    height:150px;
    margin-left:50px;
}

.backEndImgs{
    padding:50px;
}

.react_nativeImg{
    width:150px;
    height:160px;
}

.mobileImgs{
    padding:50px;
}

.ourTechs{
    padding:50px;
}

@media(max-width: 952px){

    nav{
        background:rgb(95, 188, 144);
        background-image: url("../img/BCG1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -60%, 170%;
    }

    label.logo{
        font-size:25px;
        padding-left: 40px;
    }

    nav ul li a{
        font-size:13px;
    }

    .globalParagrath{
        font-size:17px;
    }

}

svg{
    background-color: #3FA57A;
}

svg circle{
    fill:white;
}

svg line{
    stroke: white;
    stroke-width: 6;
}

svg polygon{
    stroke:white;
    stroke-width:6;
    fill:white;
}

svg text{
    fill:white;
    font-size: 50px;
    font-family: arial;
}

.breaks{
    display:none;
}

@media(max-width: 858px){

    i{
        color:#3FA57A;
    }

    nav ul li a{
        color:white;
        font-size:17px;
        padding: 7px 13px;
        border-radius:3px;
        text-transform: uppercase;
    }

    .breaks{
        display:block;
    }

    .htmlImg{
        margin-right:0px;
    }
    
    .jsImg{
        margin-left:0px;
    }

    .nodeImg{
        margin-right:0px;
    }

    .mongoImg{
        margin-left:0px;
    }

    .checkbtn{
        display:block;
    }

    .globalParagrath{
        font-size:15px;
    }

    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background-color: #3FA57A;
        top:80px;
        left:-100%;
        text-align:center;
        transition:all .5s;
    }

    nav ul li{
        display:block;
        margin:50px 0;
        line-height:30px;
    }

    nav ul li a{
        font-size:20px;
    }

    a:hover, a.active{
        background:none;
        color:#0082e6;
    }

    #check:checked ~ ul{
        left:0;
    }

}